.header-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    background-color: #0d47a1;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
}

.angular-img {
    width: 6%;
}

.color-menu {
    color: #FFFFFF
}