.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px;
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.m16 {
    margin: 16px;
}

.like-img {
    width: 10%;
}

.italic {
    font-style: italic;
}

.p60 {
    padding: 0 60px;
}