<section>
    <div class="thanks-container">
        <div class="thanks">
            <img src="../../../assets/img/like-button-icon.png" class="like-img" alt="" srcset="">
        </div>

        <div class="thanks">
            <h2>Thanks for signing up, {{username}} !</h2>
            <p class="italic">This app was created to test in another app, with any other front-end technology stack!</p>
        </div>

        <div>
            <button mat-raised-button color="primary" class="p60" (click)="back()">Home</button>
        </div>
    </div>
</section>