.flex-container {
    display: flex;
    flex-direction: column;
}

.m16 {
    margin: 16px;
}

.angular-app {
    align-items: center;
}

.form-align {
    align-items: center;
}

.background-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 24px;
}

.form-controller {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 24px;
    width: 70%;
}